@font-face {
    font-family: Handjet;
    src: url(./Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}


.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas: "sidebar header header header"
    "sidebar main main main";
    height: 95vh;
}

img {
    margin: 0px 16px;
}

.header {
    grid-area: header;
    background-color: beige;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 24px;
    padding-right: 30px;
    font-family: Handjet;
    box-shadow: 0px 5px 2px gray;
    z-index: 1;
}

.header img {
    width: 50px;
    height: auto;
}

.search, .nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
.search {
    grid-template-columns: 1.2fr 1fr;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input {
    flex-grow: 1;
    border-radius: 12px;
    border-style: none;
    border-color: gray;
    background-color: lightgrey;
    height: 28px;
}

.user {
    font-size: x-large;
    font-weight: 500;
    margin: 0px 12px;
}


.search img {
    width: 25px;
}

.greeting {
    display: grid;
    grid-template: 1fr 1fr / auto auto;
    grid-template-areas: "treble hi"
    "treble name";
    align-items: center;
    justify-content: start;
    font-size: xx-large;
    font-weight: 500;
}

.greeting img {
    grid-area: treble;
    justify-self: end;
}

.hi {
    grid-area: hi;
    font-size: large;
}

.name {
    grid-area: name;
}


button {
    border-style: none;
    border-radius: 12px;
    background-color: lightblue;
    padding: 10px 20px;
    margin: 0px 12px;
}

.buttons, .user {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
}

.sidebar {
    grid-area: sidebar;
    background-color: blue;
}

.main {
    grid-area: main;
    background-color: lightcyan;
}

