.container {
    display: grid;
    grid-template: .7fr 4fr / 1fr 4fr;
    grid-template-areas: "sidebar header header header"
    "sidebar main main main";
    height: 95vh;
}

img {
    margin: 12px;
}

.header {
    grid-area: header;
    background-color: aqua;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 12px;
}

.header img {
    width: 50px;
    height: auto;
}

.search, .nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
.search {
    grid-template-columns: 1.2fr 1fr;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input {
    flex-grow: 1;
    margin: 8px;
    border-radius: 12px;
    border-style: none;
    border-color: gray;
    background-color: lightgrey;
    height: 24px;
}

.greeting {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
}


button {
    margin: 12px;
}

.buttons, .user {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    margin: 15px;
}



.search img {
    width: 25px;
}

.sidebar {
    grid-area: sidebar;
    background-color: blue;
}

.main {
    grid-area: main;
    background-color: green;
}

