@font-face {
    font-family: Handjet;
    src: url(./Handjet-VariableFont_ELGR\,ELSH\,wght.ttf);
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas: "sidebar header header header"
    "sidebar main main main";
    height: 95vh;
}

img {
    margin: 0px 16px;
}

.header {
    grid-area: header;
    background-color: beige;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 24px;
    padding-right: 30px;
    font-family: Handjet;
    box-shadow: 0px 5px 2px gray;
    z-index: 1;
}

.header img {
    width: 50px;
    height: auto;
}

.search, .nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
.search {
    grid-template-columns: 1.2fr 1fr;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input {
    flex-grow: 1;
    border-radius: 12px;
    border-style: none;
    border-color: gray;
    background-color: lightgrey;
    height: 28px;
}

.user {
    font-size: x-large;
    font-weight: 500;
    margin: 0px 12px;
}

.search img {
    width: 25px;
}

.greeting {
    display: grid;
    grid-template: 1fr 1fr / auto auto;
    grid-template-areas: "treble hi"
    "treble name";
    align-items: center;
    justify-content: start;
    font-size: xx-large;
    font-weight: 500;
    padding: 4px;
}

.greeting img {
    grid-area: treble;
    justify-self: end;
}

.hi {
    grid-area: hi;
    font-size: large;
}

.name {
    grid-area: name;
}

button {
    border-style: none;
    border-radius: 12px;
    background-color: lightblue;
    padding: 10px 20px;
    margin: 0px 12px;
}

.buttons, .user {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightblue;
    display: grid;
    font-family: Handjet;
    grid-template-rows: .8fr 1.5fr 1.5fr 2.5fr;
}

.home, .calendar, .students, .invoices, .revenue, .settings, .business, .social {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
}

.sidebar img {
    height: 40px;
}

.home {
    font-size: 36px;
}

.controls, .account {
    font-size: 32px;
}

.account {
    display: grid;
    align-content: center;
}

.controls {
    display: grid;
    align-items: center;
}

.main {
    grid-area: main;
    background-color: lightgray;
    display: grid;
    grid-template-areas: "project announce"
    "project trending";
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.projects {
    grid-area: project;
    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 12fr;

}

.projheader {
    font-size: 18pt;
    font-weight: 700;
    padding: 12px;
    padding-left: 36px;
}

.cardcont {
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    gap: 15px;
    padding: 8px;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.card {
    display: grid;
    height: 200px;
    background-color: ivory;
    padding: 8px;
    font-size: 1em;
    align-content: start;
    justify-items: center;
    border-radius: 8px;
    padding-left: 12px;
}

.card h1 {
    font-size: 1.5em;
}

.trending {
    grid-area: trending;
}

.announcements {
    grid-area: announce;
}

.announcements, .trending {
    padding: 8px;
    display: grid;
    font-size: 12pt;
    background-color: lightgray;
    grid-template-rows: 1fr 6fr;
}

.announcehead {
    font-size: 18pt;
    font-weight: 700;
    padding: 12px;
}

.announcements h1 {
    font-size: 14pt;
}

.newscont, .trendingcont {
    background-color: beige;
    border-radius: 8px;
    display: grid;
    padding: 8px
}

.trendhead {
    font-size: 18pt;
    font-weight: 700;
    padding: 12px;
}

/*
.trending {
    grid-area: trending;
    background-color: lightgray;
    font-weight: 700;
    font-size: 14pt;
    display: grid;
    grid-template-rows: 1fr 6fr;
    padding: 8px;
}

.trendingcont {
    background-color: beige;
    border-radius: 8px;
    display: grid;
    padding: 8px;
}

*/

.trending img {
    height: 40px;
}

